<div class="col-lg-9 col-md-10 col-sm-11 col-xs-12">

  <div ng-if="!account.contactData.firstName">
    <p>Привет, {{account.contactData.email}}</p>
  </div>
  <div ng-if="account.contactData.firstName">
    <p> Привет, {{account.contactData.firstName}} {{account.contactData.lastName}}</p>
  </div>
  
  
  <p ng-show="!orders || orders.length == 0">Все още нямате направени поръчки. Ако изпитвате затруднения със сайта, не се колебайте да се свържете с нас.
  </p>
  
  <p ng-show="orders && orders.length > 0">Към момента в системата има общо {{orders.length}} 
    <ng-pluralize count="orders.length" when="{'0': '', 'one': ' поръчка.', 'other': ' поръчки.'}"></ng-pluralize>
  </p>
  
  <p ng-show="cntPending > 0">ЧАКАЩИ: {{cntPending}}! 
    
  </p>
  
</div>
  
<div class="col-lg-9 col-md-10 col-sm-11 col-xs-12">
  <a ui-sref="backend.summary.orders" class="btn btn-info btn-sm"> Към поръчките </a>
</div>
