<!-- ============ account.order.html ============== -->

<style>

.orderTable {
  /*float: left;
  width: 100%;*/
}

.orderTable .cartItem {
  /*display: block;*/
  height: auto;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  /*margin-bottom: 15px;*/
  padding: 15px 7px;
}

.orderTable .cartItem h4 a {
  /*color: #2c3e50;*/
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  /*text-transform: uppercase;*/
  line-height: 20px;
}

.orderTable .cartItem .price {
  font-size: 15px;
  font-weight: normal;
}

.orderTable .cartItem span {
  font-size: 15px;
  font-weight: normal;
}

.orderTable a.dropdown-toggle {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  display: block;
}

.orderTable .dropdown-menu {
  padding-bottom: 0;
  border-radius: 0;
  margin-top: 0;
}

.orderTable .miniCartProductThumb {
  text-align: center;
}

.orderTable img {
  min-width: 50px;
}

.orderTable h4 {
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}

.orderTable .miniCartDescription .size {
  color: #888888;
  font-size: 11px;
}

.orderTable .miniCartDescription .price {
  color: #444444;
  font-size: 15px;
  font-weight: 700;
}

.orderTable .old-price {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
}

.orderTable table {
  width: 100%;
  height: auto;
}

.orderTable table tr {
  border-bottom: solid 1px #ddd;
}

.orderTable table tr td {
  padding: 7px 7px;
}

.orderTable table tr th {
  vertical-align: bottom;
  font-weight: normal;
  font-size: 12px;
}

.orderTable .miniCartFooter {
  background: #ECF0F1;
  padding: 10px 10px 10px;
}

.orderTable .miniCartFooter .subtotal {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  /*text-transform: uppercase;*/
}

.orderTable .incaps {
  display: block;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.orderTable .incaps i {
  font-size: 12px;
}

.orderTable .color-in {
  color: #4CC94A;
}

.orderTable .product-code {
  font-family: oswald, Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0 0 8px;
  padding: 0;
  text-transform: uppercase;
}

.fix-align-char td.char-align {
  width: 72px;
}

.fix-align-char span.left {
  float: left;
  text-align: right;
  width: 44px;
}

.fix-align-char span.currency {
  text-align: left;
  float: left;
}

.fix-align-char span.right {
  float: right;
  text-align: left;
  width: 28px;
}

.cart-item-quantity {
  max-width: 120px;
  min-width: 109px;
}

@media ( max-width : 540px) {
  .orderTable .cartItem {
    padding: 10px 4px;
  }
  .orderTable .cartItem h4 a {
    font-size: 14px;
    line-height: 16px;
  }
  .orderTable .cartItem .price {
    font-size: 12px;
  }
  .orderTable .cartItem span {
    font-size: 12px;
  }
  .orderTable a.dropdown-toggle {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    line-height: 17px;
  }
  .orderTable h4 {
    font-size: 10px;
  }
  .orderTable .miniCartDescription .size {
    font-size: 9px;
  }
  .orderTable .miniCartDescription .price {
    font-size: 12px;
  }
  .orderTable .old-price {
    font-size: 12px;
  }
  .orderTable table tr td {
    padding: 5px 5px;
  }
  .orderTable table tr th {
    font-size: 10px;
  }
  .orderTable .miniCartFooter {
    padding: 7px 7px 7px;
  }
  .orderTable .miniCartFooter .subtotal {
    font-size: 13px;
  }
  .orderTable .incaps {
    font-size: 8px;
  }
  .orderTable .incaps i {
    font-size: 10px;
  }
  .orderTable .product-code {
    font-size: 10px;
  }
  .input-group-sm>.input-group-btn>.btn {
    height: 26px;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 2px;
  }
  .input-group-sm>.form-control, .input-group-sm>.input-group-addon {
    height: 26px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 2px;
  }
  .cart-item-quantity {
    max-width: 85px;
    min-width: 78px;
  }
}
</style>
<!-- ==================================================================== -->
<style>
.cart-totals {
  
}

.cart-totals table {
  float: right;
  width: auto;
  /* width: 400px; */
  /* min-width: 300px; */
  margin: 8px 0;
  border: 0;
  border-spacing: 0;
  empty-cells: show;
}

.orderTable table>tfoot>tr {
  border-bottom: 0; /* will appy to both tables */
}

.cart-totals td {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 0 5px;
}

.bigPrice {
  font-size: 17px;
  font-weight: 700;
}

.after5 {
  padding-right: 5px;
}

.both5 {
  padding-left: 5px;
  padding-right: 5px;
}

.before5 {
  padding-left: 5px;
}

.after15 {
  padding-right: 15px;
}

.both15 {
  padding-left: 15px;
  padding-right: 15px;
}

.before15 {
  padding-left: 15px;
}

@media ( max-width : 540px) {
  .bigPrice {
    font-size: 17px;
  }
}
.vbottom {
  display: inline-block;
  vertical-align: bottom;
  
}
.row-flex-center {
  display:flex;
  align-items:center;
}


@media (max-width: 767px) {

  .row-xs-flex-baseline {
    display:flex;
    align-items:baseline;
  }
  
  .text-right-xs {
    text-align: right;
  }

  .pull-right-xs {
    float: right;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .row-sm-flex-baseline {
    display:flex;
    align-items:baseline;
  }
  
  .text-right-sm {
    text-align: right;
  }

  .pull-right-sm {
    float: right;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .row-md-flex-baseline {
    display:flex;
    align-items:baseline;
  }
  
  .text-right-md {
    text-align: right;
  }

  .pull-right-md {
    float: right;
  }
}

@media ( min-width: 1200px ) {
  .row-lg-flex-baseline {
    display:flex;
    align-items:baseline;
  }
  
  .text-right-lg {
    text-align: right;
  }

  .pull-right-lg {
    float: right;
  }
}


.order-nav {
  display:flex;
  align-items:center;
}

.order-pages {
  font-size: 16px; 
  font-weight: bold;
  padding-right: 8px;
}

.order-nav li {
  line-height: 0;
}

.order-nav li a {
padding: 0px 0px; 
  margin: -3px 0px -3px 0px;
  font-size: 22px;
  line-height: 0; 
}
  
</style>


<div class="col-lg-12 col-md-12 col-sm-12 view-slide-in" style="width: 100%" autoscroll="false"
  ng-if="order == null">
  <h2 class="text-center"><img src="images/loading.gif"></h2>
</div>

<div ng-if="order">

  <!--  Title -->
  <div class="row-lg-flex-baseline row-md-flex-baseline row-sm-flex-baseline">
    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
      <h2> Поръчка #{{id}} <small>({{order.datePlaced | date:'dd/MM/yyyy'}} {{order.datePlaced | date:'shortTime'}})</small></h2>
    </div>  
    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">  
      <h4 class="text-right-lg text-right-md text-right-sm" >Статус: {{order.status | translate}}</h4>
    </div>
  </div>
  
  <div class="clearfix visible-xs-block"></div>
  
  
  
  <!--  links -->
  <div class="hidden-print" style="padding-bottom:15px">
    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 15px;padding-top: 15px">
      <a class="after15" href="javascript:window.print()" style="display: inline-block;"><i class="glyphicon glyphicon-print"></i> Принтирай </a>
      <!-- TODO -->
      <!-- 
      <a class="after15" href="#" style="display: inline-block;"><i class="glyphicon glyphicon-file"></i> Генерирай PDF </a>
      -->
      
      <a class="after15" ng-click="orderAgain(order)" style="display: inline-block;"><i class="glyphicon glyphicon-repeat"></i> Поръчай отново </a>
      <div class="pull-right order-nav">
        <div class="order-pages">{{index}} от {{length}}</div>
        <div>
        <ul>
          <li>
            <a ng-disabled="prevId < 0" class="btn btn-lg" 
                 ui-sref="account.summary.order.display({id: prevId})">
                <i class="glyphicon glyphicon-triangle-top"></i></a>
          </li>
          <li style="line-height: 0;">
            <a ng-disabled="nextId < 0" class="btn btn-lg"
                 ui-sref="account.summary.order.display({id: nextId})">
                <i class="glyphicon glyphicon-triangle-bottom"></i></a>
          </li>
        </ul>
        </div>
      </div> 
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>
  
  
  <div class="col-md-4 col-xs-12 col-md-push-8">
    <div class="sidebox panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Данни за доставка</h4>
      </div>
  
      <div class="panel-body sidebox-body">
        <table>
          <tbody>
            <tr>
              <td class="summary-item" colspan="2">
                <div>
                  <span ng-if="order.option.type!=='atelier'">
                    <span style="font-weight: bold">Адрес:</span><br>
                    {{order.contactData.firstName}} {{order.contactData.lastName}}<br>
                    {{order.shippingData.settlement.country}}, {{order.shippingData.getCityAndZipPretty()}}<br>
                    
                    <span ng-if="order.option.type==='office'">
                      До офис: {{order.shippingData.office[order.option.courier]}}
                    </span>
                    <span ng-if="order.option.type==='address'">
                      {{order.shippingData.office['address']}}
                    </span>
                    <br>
                    <span style="font-weight: bold">Куриер:</span> {{order.option.courier | courier }}<br>
                    <span style="font-weight: bold">Услуга:</span> "{{order.option.service}}"<br>
  
                    <span style="font-weight: bold">Начин на плащане:</span> Наложен платеж<br>
                  </span>
                  <span ng-if="order.option.type==='atelier'" style="font-weight: normal">
                    {{order.option.name}}
                    <br>
                  </span>  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>
  
  
  <div class="col-md-8 col-xs-12 col-md-pull-4 view-slide-in">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Съдържание</h4>
      </div>
      <div class="panel-body orderTable">
        <table>
          <thead>
            <tr class="cartItem">
              <th style="width: 47%" style="font-size: 11px">Наименование
              </th>
              <th style="width: 17%" style="font-size: 11px">Ед. цена
              </th>
              <th style="width: 22%" style="font-size: 11px">Количество
              </th>
              <th style="width: 17%" style="font-size: 11px">Общо
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in order.items" class="cartItem repeat-animation hide-fade">
              <!-- NAME -->
              <td style="width: 47%">
                <h4>
                  <a ui-sref="shop.one.product({categoryId: item.product.categoryId, productId:item.product.id})">
                    {{item.product.name}} </a>
                </h4>
                <h3 class="product-code">{{item.product.categoryId | shortCategory }}-{{item.product.origin | shortOrigin
                  }}-{{item.product.color}}</h3>
              </td>
      
              <!-- PRICE -->
              <td style="width: 17%;"><span> {{item.product.price | number:2}} лв</span></td>
      
              <!-- QUANTITY -->
              <td style="width: 22%;">
                {{item.quantity}}
              </td>
      
              <!-- SUM -->
              <td style="width: 17%;"><span> {{item.sum | number:2}} лв</span></td>
      
            </tr>
          </tbody>
          <tfoot>
            <tr class="cart-totals">
              <td colspan="5">
                <table>
                  <colgroup>
                    <col>
                    <col width="1">
                  </colgroup>
      
                  <tbody>
                    <tr>
                      <td style="" class="text-right">Междинна сума:</td>
                      <td style="" class="text-right"><span class="text-nowrap bigPrice"> {{ order.subTotal |
                          number:2 }} лв</span></td>
                    </tr>
                    <tr>
                      <td style="" class="text-right">Доставка:<br>
                      <small ng-show="order.option">{{order.option.getNameAndService()}}</small></td>
                      <td style="" class="text-right">
                        <span ng-show="order.option" class="text-nowrap bigPrice">
                            {{order.option.amount | number:2}} лв</span>
                      </td>
                    </tr>
                  </tbody>
      
                  <tfoot>
                    <tr>
                      <td style="" class="text-right">Всичко:</td>
                      <td style="" class="text-right"><strong><span class="text-nowrap bigPrice">{{
                            order.subTotal + order.option.amount | number:2 }} лв</span></strong></td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="clearfix visible-xs-block"></div>
  

  
  <div class="">
    <!--  buttons -->
    <div  class="hidden-print col-lg-12 col-md-12 col-sm-12 col-xs-12"><!-- style="width: 100%; padding-top: 15px;" -->
    
      <a class="btn btn-primary" ui-sref="account.summary.orders" ng-if="getUsername() !== 'guest'"> Моите поръчки </a>
      
      <div class="pull-right order-nav">
        <div class="order-pages">{{index}} от {{length}}</div>
        <div>
        <ul>
          <li>
            <a ng-disabled="prevId < 0" class="btn btn-lg" 
                 ui-sref="account.summary.order.display({id: prevId})">
                <i class="glyphicon glyphicon-triangle-top"></i></a>
          </li>
          <li style="line-height: 0;">
            <a ng-disabled="nextId < 0" class="btn btn-lg"
                 ui-sref="account.summary.order.display({id: nextId})">
                <i class="glyphicon glyphicon-triangle-bottom"></i></a>
          </li>
        </ul>
        </div>
        <!-- 
        <a ng-disabled="prevId < 0" class="" ui-sref="account.summary.order.display({id: prevId})">
        <i class="glyphicon glyphicon-triangle-top"></i>Предишна</a> 
        <a ng-disabled="nextId < 0" class="" ui-sref="account.summary.order.display({id: nextId})">
        <i class="glyphicon glyphicon-triangle-bottom"></i>Следваща</a>
        -->
      </div> 
        
    </div>
  </div>

</div> <!-- if -->
<!--/ cart.details.html -->