<div class="col-lg-9 col-md-10 col-sm-11 col-xs-12">

  <form name="accountForm" class="form-horizontal" ng-submit="saveAccount()" novalidate>

    <div class="panel panel-success">

      <!-- ДАННИ ЗА КОНТАКТ -->
      <div class="panel-heading">{{headingLabel}}</div>
      <div class="panel-body">
        <!-- firstName and lastName -->
        <div class="form-group" style="">
          <!-- firstName -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : accountForm.firstName.$invalid && !accountForm.firstName.$pristine }">
            <label class="control-label " for="firstName">Име</label> <input type="text" class="form-control"
              id="firstName" name="firstName" ng-model="contactData.firstName"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="accountForm.firstName.$invalid && !accountForm.firstName.$pristine" class="help-block">Въведете
              име.</p>
          </div>
          <!-- lastName -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : accountForm.lastName.$invalid && !accountForm.lastName.$pristine }">
            <label class="control-label " for="lastName">Фамилия</label> <input type="text" class="form-control"
              id="lastName" name="lastName" ng-model="contactData.lastName"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="accountForm.lastName.$invalid && !accountForm.lastName.$pristine" class="help-block">Въведете
              фамилно име.</p>
          </div>
        </div>

        <!-- phone -->
        <div class="form-group"
          ng-class="{ 'has-error' : accountForm.phone.$error.required && !accountForm.phone.$pristine }">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="phone">Телефон</label> <input type="text" class="form-control" id="phone"
              name="phone" ng-model="contactData.phone"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="accountForm.phone.$error.required && !accountForm.phone.$pristine" class="help-block">Въведете
              телефонен номер.</p>
          </div>
        </div>

        <!-- email -->
        <div class="form-group" ng-class="{ 'has-error' : accountForm.email.$invalid && !accountForm.email.$pristine }">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="email">Имейл</label> <input type="email" class="form-control" id="email"
              name="email" ng-model="contactData.email">
            <p ng-show="accountForm.email.$invalid && !accountForm.email.$pristine" class="help-block">Въведете
              валиден имейл адрес.</p>
          </div>
        </div>

        <!-- password change -->
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a id="changePassButton" class="btn btn-info btn-sm" ng-click="setEditPassword(true)" ng-show="!newAccount && !editPassword" onclick="$('#changePassButton').hide()">Смяна на парола</a>
            <div ng-if="editPassword">
              <!-- oldPassword -->
              <div class="form-group" ng-if="!newAccount"
                ng-class="{ 'has-error' : accountForm.oldPassword.$error.required && !accountForm.oldPassword.$pristine }">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label " for="oldPassword">Стара парола</label> <input type="password"
                    class="form-control" id="oldPassword" name="oldPassword" ng-model="contactData.oldPassword"
                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
                  <p ng-show="accountForm.oldPassword.$error.required && !accountForm.oldPassword.$pristine"
                    class="help-block">Въведете старата си парола.</p>
                </div>
              </div>
              <!-- newPassword1 -->
              <div class="form-group"
                ng-class="{ 'has-error' : accountForm.newPassword1.$error.required && !accountForm.newPassword1.$pristine }">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label " for="newPassword1">{{newPasswordLabel}}</label> <input type="password"
                    class="form-control" id="newPassword1" name="newPassword1" ng-model="contactData.newPassword1"
                    pw-check="contactData.newPassword2"
                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" required>
                  <p ng-show="accountForm.newPassword1.$error.required && !accountForm.newPassword1.$pristine"
                    class="help-block">Въведете нова парола.</p>
                </div>
              </div>
              <!-- newPassword2 -->
              <div class="form-group"
                ng-class="{ 'has-error' : accountForm.newPassword2.$error.required && !accountForm.newPassword2.$pristine }">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label " for="newPassword2">{{newPasswordAgainLabel}}</label> <input
                    type="password" class="form-control" id="newPassword2" name="newPassword2"
                    ng-model="contactData.newPassword2"
                    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" required>
                  <p ng-show="accountForm.newPassword2.$error.required && !accountForm.newPassword2.$pristine"
                    class="help-block">Въведете нова парола още веднъж.</p>
                  <p class="help-block" style="color: #a94442;"
                    ng-show="accountForm.newPassword1.$error.pwmatch && !accountForm.newPassword2.$pristine && !accountForm.newPassword1.$pristine">
                    Паролите не съвпадат!</p>

                </div>
              </div>

            </div>
            <!-- ng-if="editPassword"> -->
          </div>
        </div>
        <!-- form-group -->
      </div>
      <!--/ДАННИ ЗА КОНТАКТ-->
      
      <!-- ======================================================================= -->
      
      <!-- ДАННИ ЗА ДОСТАВКА -->
      <div class="panel-heading">Данни за доставка</div>
      <div class="panel-body">
        <!-- country -->
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="country">Държава</label> <select class="form-control" id="country"
              name="country" ng-model="shippingData.settlement.country">
              <option>България</option>
              <option>Македония</option>
              <option>Гърция</option>
              <option>Румъния</option>
            </select>
          </div>
        </div>

        <!-- zipCode and city -->
        <div class="form-group" style="">
          <!-- ZIP CODE =================================================== ZIP CODE =============================================================== -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : addressForm.zipCode2.$invalid && !addressForm.zipCode2.$pristine }">

            <label class="control-label" for="zipCode2">Пощенски код</label>

            <!-- zipCode input -->
            <div ng-if="shippingData.settlement.country !== 'България'">
              <input type="text" class="form-control input" id="zipCode2" name="zipCode2"
                ng-model="shippingData.settlement.zipCode" required>
            </div>

            <!-- zipCode input with autocompletion -->
            <div ng-if="shippingData.settlement.country === 'България'" angucomplete-alt pause="400"
              selected-object="setZipCodeAndCity1" custom-lookup="customLookup"
              custom-matching="shippingCtrl.customMatching" custom-select="shippingCtrl.customSelectZipCode"
              keep-initial-value-binding="true" initial-value="shippingData.settlement.zipCode" field-required="true"
              local-data="shippingCtrl.zipCodes" search-fields="zipCode*,city" title-field="city,zipCode"
              description-field="zipCode" minlength="2" maxlength="50" input-class="form-control"
              match-class="highlight" template-url="app/shop/partials/zipcode-template.html"></div>
          </div>

          <!-- CITY ====================================================== CITY ====================================================================== -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : addressForm.city2.$invalid && !addressForm.city2.$pristine }">
            <label class="control-label " for="city2">Населено място</label>

            <!-- city input -->
            <div ng-if="shippingData.settlement.country !== 'България'">
              <input type="text" class="form-control input" id="city2" name="city2"
                ng-model="shippingData.settlement.city" required>
            </div>

            <!-- city input with autocompletion -->
            <div ng-if="shippingData.settlement.country === 'България'" angucomplete-alt pause="400"
              selected-object="setZipCodeAndCity" custom-lookup="customLookup"
              custom-matching="shippingCtrl.customMatching" custom-select="shippingCtrl.customSelectCity"
              keep-initial-value-binding="false" initial-value="shippingData.getCityPretty()" field-required="true"
              local-data="shippingCtrl.zipCodes" search-fields="city,zipCode*" title-field="city,zipCode"
              description-field="zipCode" minlength="3" maxlength="50" input-class="form-control"
              match-class="highlight" template-url="app/shop/partials/city-template.html">
              <!--  -->
            </div>
          </div>
        </div>

        <!-- ============================================================ -->
        <!-- ============== OPTIONS ===================================== -->
        <!-- ============================================================ -->
        <div class="panel panel-default" ng-if="shippingData.options && shippingData.options.length > 0">
          <div class="panel-heading" ng-show="shippingData.options && shippingData.options.length > 1">
            <label>Възможни опции за доставка. Въведете тези, които най-вероятно ще ползвате.</label></div>
          <div class="panel-body">
  
              <div class="form-group" ng-repeat="option in shippingData.options"
                  ng-class="{notSelected: option.toString() !== shippingData.selectedOption}">
                  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="option.type !== 'atelier'" 
                  ng-class="{ 'has-error' : zipForm.officeInput_1.$invalid }">
                  <label><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></label>
                  <!-- RADIO -->
                  <label> <!--<input type="radio" name="optionsRadios" ng-model="shippingData.selectedOption"
                    ng-value="option.toString()" ng-click="shippingCtrl.setOption2(option)" required>-->
                    <span>
                      {{ option.getNameAndService() }}
                      <!--  
                      <small style="padding-left: 10px;" ng-show="option.amount>=0"> {{ option.amount | number:2 }} лв </small>
                      -->
                    </span>
                  </label>
                </div>
  
                <!-- office -->
                <div ng-if="option.type == 'office'"
                  class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                  <!-- INPUT TEXT Courier Office dropdown-->
                  <label class="control-label"> Офис </label>
                  <!-- <input type="text" class="form-control" name="{{option.type}}"
                    ng-model="shippingData.office[option.courier]"
                    ng-required="shippingData.selectedOption === option.toString()"> -->
    
                  <!-- 3333333333333333333333333333333333333333333333333333333333333333333333333333333333 -->
                  <div angucomplete-alt pause="400" selected-object="setOffice" keep-initial-value-binding="true"
                    custom-lookup="lookupOffices" custom-lookup-only="true"
                    initial-value="shippingData.office[option.courier]" id="{{ 'officeInput_' + option.courier }}"
                    input-name="{{ 'officeInput_' + option.courier }}" local-data="option.courier"
                    search-fields="name,address" title-field="name" description-field="address" minlength="0" maxlength="50"
                    input-class="form-control" match-class="highlight" placeholder="Изберете офис"
                    template-url="app/shop/partials/offices-template.html">
                    <!--field-required="true" template-url="/offices-template.html"  -->
                  </div>
                  <!-- 44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 -->
    
                </div>
  
                <!-- address -->
                <div ng-if="option.type == 'address'"
                  class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                  <!-- INPUT TEXT Courier Office dropdown-->
                  <label class="control-label">Адрес</label> <input type="text" placeholder="ул. номер, бл., ет., ..."
                    class="form-control" name="{{option.type}}" ng-model="shippingData.office['address']" >
                  <!--   
                  <p ng-show="addressForm.streetAddress1.$error.required && !addressForm.streetAddress1.$pristine"
                     class="help-block">Въведете улица, номер или квартал, блок, вход, етаж, ап.</p>
                  -->
                </div>
              
            </div><!-- ng-repeat -->
            <!-- 
            <div><p style="font-style:italic">* Цената на доставката се определя от редица фактори като вид услуга, тегло на поръчката, такса гориво и т.н. В тази форма е посочена цена за поръчки с тегло под 1кг.
              </p>
            </div>
            -->
          </div><!-- inner panel-body -->    
        </div> <!-- inner panel -->
        
        <!--  STREET ONLY -->
        <div class="form-group" ng-if="shippingData.options && shippingData.options.length == 0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- INPUT TEXT Courier Office dropdown-->
            <label class="control-label " for="shippingData.office['address']">Адрес</label>
            <input type="text" placeholder="ул. номер, бл., ет., ..." class="form-control" ng-model="shippingData.office['address']" required>
          </div>
        </div>

        <!-- streetAddress2 -->
<!--    <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="streetAddress2">Допълнителни указания</label> <input type="text"
              class="form-control" id="streetAddress2" ng-model="shippingData.streetAddress2">
          </div>
        </div>
-->

        <!-- ====================================================== -->
        <!-- INVOICE -->
        <!-- ====================================================== -->

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="phone">Ще желаете ли фактура?</label>
            <div class="btn-group btn-toggle" style="margin-left: 7px">
              <input type="button" class="btn btn-sm" ng-click="setWantInvoice(true)"
                ng-class="{ 'btn-default': !shippingData.wantInvoice, 'btn-success active': shippingData.wantInvoice }"
                value="Да"> <input type="button" class="btn btn-sm" ng-click="setWantInvoice(false)"
                ng-class="{ 'btn-default': shippingData.wantInvoice, 'btn-success active': !shippingData.wantInvoice }"
                value="Не">
            </div>
          </div>
        </div>

        <!-- textarea -->
        <div class="form-group" ng-if="shippingData.wantInvoice"
          ng-class="{ 'has-error' : addressForm.invoiceData.$error.required && !addressForm.invoiceData.$pristine }">
          <div
            class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <label class="control-label " for="invoiceData">Данни за фактурата</label>
            <textarea rows="5" cols="50" class="form-control" id="invoiceData" name="invoiceData"
              ng-model="shippingData.invoiceData" required></textarea>
            <p ng-show="addressForm.invoiceData.$error.required && !addressForm.invoiceData.$pristine"
              class="help-block">Въведете дан. номер или ЕГН, име на фирма, М.О.Л. и т.н.</p>
          </div>
        </div>
        
      </div>
      <!-- panel-body -->
      <!--/ДАННИ ЗА ДОСТАВКА-->
      
      <!-- Buttons -->
      <div class="panel-body">      
      
        <div class="form-group" style="margin-bottom: 0px">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input name="submit" class="btn btn-primary" value="Запиши" type="submit" ng-disabled="accountForm.$invalid">
            <label style="padding-left: 15px">{{message}}</label>
          </div>
        </div>
      
      </div>
      
    </div> <!-- panel -->
  </form>
</div>
<!-- ------------------------------------------------------------------------------------------------------------ -->


