<!-- <iframe src="sink.html" name="sink" style="display: none"></iframe>-->
<style>
.radio .office {
  margin-top: 25px;
}

/*input[type="radio"]:checked+span { 
  font-weight: bold;
  font-size: 16px; 
}*/

.notSelected { 
  color: #868788; 
}

</style>

<!-- ДАННИ ЗА КОНТАКТ -->
<div class="panel panel-success" id="contactData">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseContactData" class="collapseWill"> <span class="pull-left">
          <i class="fa fa-chevron-right"></i>
      </span> Данни за контакт
      </a>
    </h4>
  </div>
  <div id="collapseContactData" class="panel-collapse collapse in">
    <div ng-if="editContactData == true" class="panel-body">
      <!-- Panel content -->
      <form name="contactForm" class="form-horizontal" ng-submit="saveContactData(cart)" novalidate>

        <div class="form-group" style="">
          <!-- firstName -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : contactForm.firstName.$invalid && !contactForm.firstName.$pristine }">
            <label class="control-label " for="firstName">Име</label> <input type="text" class="form-control"
              id="firstName" name="firstName" ng-model="cart.contactData.firstName"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="contactForm.firstName.$invalid && !contactForm.firstName.$pristine" class="help-block">Въведете
              име.</p>
          </div>
          <!-- lastName -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
            ng-class="{ 'has-error' : contactForm.lastName.$invalid && !contactForm.lastName.$pristine }">
            <label class="control-label " for="lastName">Фамилия</label> <input type="text" class="form-control"
              id="lastName" name="lastName" ng-model="cart.contactData.lastName"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="contactForm.lastName.$invalid && !contactForm.lastName.$pristine" class="help-block">Въведете
              фамилно име.</p>
          </div>
        </div>

        <!-- phone -->
        <div class="form-group"
          ng-class="{ 'has-error' : contactForm.phone.$error.required && !contactForm.phone.$pristine }">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="phone">Телефон</label> <input type="text" class="form-control" id="phone"
              name="phone" ng-model="cart.contactData.phone"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 100, 'blur': 0} }" required>
            <p ng-show="contactForm.phone.$error.required && !contactForm.phone.$pristine" class="help-block">Въведете
              телефонен номер.</p>
          </div>
        </div>

        <!-- email -->
        <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="email">Имейл</label> <input type="email" class="form-control" id="email"
              name="email" ng-model="cart.contactData.email">
            <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Въведете
              валиден имейл адрес.</p>
          </div>
        </div>


        <div class="form-group" style="margin-bottom: 0px">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input name="submit" class="btn btn-primary" value="Продължи" type="submit"
              ng-disabled="contactForm.$invalid">
          </div>
        </div>

      </form>
    </div>
    <!-- panel-body -->

    <div ng-if="editContactData == false" class="panel-body" style="padding: 15px 0px;">

      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
        <h5 style="padding-bottom: 0px">
          <span style="white-space: nowrap; padding-right: 15px"> {{cart.contactData.firstName}}
            {{cart.contactData.lastName}} </span> <span style="white-space: nowrap; padding-right: 15px"> <i
            class="fa fa-phone"></i> {{cart.contactData.phone}}
          </span> <span style="white-space: nowrap;" ng-show="cart.contactData.email"> <i class="fa fa-envelope-o"></i>
            {{cart.contactData.email}}
          </span>
        </h5>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <input name="button" class="btn btn-default btn-sm" style="float: right" value="Промени" type="button"
          ng-click="setEditContactData(true)">
      </div>


    </div>
    <!-- panel-body -->

  </div>
  <!-- collapseContacts -->
</div>
<!--/ДАННИ ЗА КОНТАКТ-->

<!-- ======================================================================= -->

<!-- ДАННИ ЗА ДОСТАВКА -->
<div class="panel panel-success" id="addressData">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapseAddressData" class="collapseWill"> <span class="pull-left">
          <i class="fa fa-chevron-right"></i>
      </span> Данни за доставка
      </a>
    </h4>
  </div>
  <div id="collapseAddressData" class="panel-collapse collapse in">
    <div ng-if="editAddressData == true" class="panel-body">
      <!-- Panel content -->
      <form name="addressForm" class="form-horizontal" ng-submit="saveAddress(cart)" novalidate>

        <!-- country -->
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="country">Държава</label> <select class="form-control" id="country"
              name="country" ng-model="cart.shippingData.settlement.country">
                <option>България</option>
                <option>Македония</option>
                <option>Гърция</option>
                <option>Румъния</option>
            </select>
          </div>
        </div>
        
        <!-- zipCode and city -->
        <div class="form-group" style="">
          <!-- zipCode -->
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
            ng-class="{ 'has-error' : addressForm.zipCode2.$invalid && !addressForm.zipCode2.$pristine }">
          
            <label class="control-label" for="zipCode2">Пощенски код</label>  
            
            
      <!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb -->
      <script type="text/ng-template" id="/zip-code-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
           
          <input type="text" class="form-control input" id="zipCode2" name="zipCode2"
            ng-model="searchStr" ng-focus="onFocusHandler()" ng-disabled="disableInput"
            ng-focus="resetHideResults()" ng-blur="hideResults($event)" ng-change="inputChangeHandler(searchStr)"
            autocapitalize="off" autocorrect="off" autocomplete="off" required />

          <div class="angucomplete-dropdown" ng-show="showDropdown" style="min-width:400px">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>

            <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" 
                 ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
              <div class="angucomplete-title">
                <span>{{result.originalObject.type}}</span> <span ng-bind-html="result.title"></span>
                
                 <span ng-if="result.originalObject.speedyOffices.length > 0" class="pull-right"><img src="images/speedy_logo_17.png"></img></span>
              </div
              
              <div class="angucomplete-description">
                <small><span ng-if="result.originalObject.municipality.indexOf('район') < 0">общ. </span>{{result.originalObject.municipality}}, обл. {{result.originalObject.district}}</small>
                
                <span ng-if="result.originalObject.ekontOffices.length > 0" class="pull-right"><img src="images/econt-logo-12.png" width="54" height="12"></img></span> 
              </div>

            </div>

          </div>
        </div>
      </script>
            <div angucomplete-alt pause="400"
            
                selected-object="shippingCtrl.setZipCodeAndCity"
                custom-lookup="shippingCtrl.customLookup"
                custom-matching="shippingCtrl.customMatching"
                custom-select="shippingCtrl.customSelectZipCode"
                keep-initial-value-binding="true"
                
                initial-value="cart.shippingData.settlement.zipCode"
                field-required="true"
                
                local-data="shippingCtrl.zipCodes"
                search-fields="zipCode*,city"
                title-field="city,zipCode"
                description-field="zipCode"
                minlength="2"
                maxlength="50"
                input-class="form-control"
                match-class="highlight" 
                template-url="/zip-code-template.html"
                > <!--  -->
            </div>
                
      <!-- eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
           
            
            
          </div>

          <!-- city -->
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
            ng-class="{ 'has-error' : addressForm.city2.$invalid && !addressForm.city2.$pristine }">
            <label class="control-label " for="city2">Населено място</label> 
            
            
      <!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb -->
      <script type="text/ng-template" id="/city-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
           
          <input type="text" class="form-control input" id="city2" name="city2"
            ng-model="searchStr" ng-focus="onFocusHandler()" ng-disabled="disableInput"
            ng-focus="resetHideResults()" ng-blur="hideResults($event)" ng-change="inputChangeHandler(searchStr)"
            autocapitalize="off" autocorrect="off" autocomplete="off" required />

          <div class="angucomplete-dropdown" ng-show="showDropdown" style="min-width:400px; float:right">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>

            <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" 
                 ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
              <div class="angucomplete-title">
                <span>{{result.originalObject.type}}</span> <span ng-bind-html="result.title"></span>
                
                 <span ng-if="result.originalObject.speedyOffices.length > 0" class="pull-right"><img src="images/speedy_logo_17.png"></img></span>
              </div
              
              <div class="angucomplete-description">
                <small><span ng-if="result.originalObject.municipality.indexOf('район') < 0">общ. </span>{{result.originalObject.municipality}}, обл. {{result.originalObject.district}}</small>
                
                <span ng-if="result.originalObject.ekontOffices.length > 0" class="pull-right"><img src="images/econt-logo-12.png" width="54" height="12"></img></span> 
              </div>

            </div>

          </div>
        </div>
      </script>
            <div angucomplete-alt pause="400"
                selected-object="shippingCtrl.setZipCodeAndCity"
                custom-lookup="shippingCtrl.customLookup"
                custom-matching="shippingCtrl.customMatching"
                custom-select="shippingCtrl.customSelectCity"
                keep-initial-value-binding="false"
                
                initial-value="cart.shippingData.getCityPretty()"
                field-required="true"
                
                local-data="shippingCtrl.zipCodes"
                search-fields="city,zipCode*"
                title-field="city,zipCode"
                description-field="zipCode"
                minlength="3"
                maxlength="50"
                input-class="form-control"
                match-class="highlight" 
                template-url="/city-template.html"
                > <!--  -->
            </div>
                
      <!-- eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
            
            
            
          </div>
        </div>
        
        <!-- ============================================================ -->
        <!-- ============== OPTIONS ===================================== -->
        <!-- ============================================================ -->
        <script type="text/ng-template" id="/offices-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
          <input id="{{id}}_value" name={{inputName}} ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-model="searchStr" ng-disabled="disableInput" type="{{type}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}" ng-focus="onFocusHandler()" class="{{inputClass}}" ng-focus="resetHideResults()" ng-blur="hideResults($event)" 
            autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr)" required/>
          <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown"  style="min-width:400px; float:right">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
            <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
              <div ng-if="imageField" class="angucomplete-image-holder">
                <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
                <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
              </div>
              <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
              <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
              <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
              <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
            </div>
          </div>
        </div>
      </script>

        <div id="options" ng-show="cart.shippingData.options && cart.shippingData.options.length > 0">
          <div class="form-group" style="" ng-repeat="option in cart.shippingData.options" ng-class="{notSelected: option.toString() !== cart.shippingData.selectedOption}">
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" 
                 ng-class="{ 'has-error' : zipForm.officeInput_1.$invalid }">
              <!-- RADIO -->
                <label> 
                  <input type="radio" name="optionsRadios" ng-model="cart.shippingData.selectedOption"
                         ng-value="option.toString()" ng-click="shippingCtrl.setOption2(option)" required>
                  <span>{{ option.getNameAndService() }}
                    <small style="padding-left: 10px;"> {{ option.amount | number:2 }} лв </small>
                  </span>  
                </label>
            </div>
            
            <!-- office -->
            <div ng-if="option.type == 'office'" class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
              <!-- INPUT TEXT Courier Office dropdown-->
              <label class="control-label"> Офис </label>
              <!-- <input type="text" class="form-control" name="{{option.type}}"
                ng-model="cart.shippingData.office[option.courier]"
                ng-required="cart.shippingData.selectedOption === option.toString()"> -->
                
                <!-- 3333333333333333333333333333333333333333333333333333333333333333333333333333333333 -->
                <div angucomplete-alt pause="400"
                selected-object="shippingCtrl.setOffice"
                keep-initial-value-binding="true"
                custom-lookup="shippingCtrl.lookupOffices"
                custom-lookup-only="true"
                
                initial-value="cart.shippingData.office[option.courier]"
                
                id="{{ 'officeInput_' + option.courier }}"
                input-name="{{ 'officeInput_' + option.courier }}"
                field-required="true"                                
                local-data="option.courier"
                search-fields="name,address"
                title-field="name"
                description-field="address"
                minlength="0"
                maxlength="50"
                input-class="form-control"
                match-class="highlight" 
                
                template-url="/offices-template.html"
                > <!--field-required="true" template-url="/offices-template.html"  -->
            </div>
                <!-- 44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 -->
                
            </div>
            
            <!-- address -->
            <div ng-if="option.type == 'address'" class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
              <!-- INPUT TEXT Courier Office dropdown-->
              <label class="control-label">Адрес (ул. номер, бл., ет., ...)</label> 
              <input type="text" class="form-control" name="{{option.type}}"
                ng-model="cart.shippingData.office['address']"
                ng-required="cart.shippingData.selectedOption === option.toString()">
              <!--   
              <p ng-show="addressForm.streetAddress1.$error.required && !addressForm.streetAddress1.$pristine"
                 class="help-block">Въведете улица, номер или квартал, блок, вход, етаж, ап.</p>
              -->
            </div>
            
          </div> <!-- ng-repeat -->
          <div class="form-group">
            <hr> <!-- footer line -->
          </div>
               
        </div><!-- if > 0 -->
        
        <!--  TODO MUST NOT HAPPEN!!! -->
        <div class="form-group options" ng-show="cart.shippingData.options && cart.shippingData.options.length == 0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- INPUT TEXT Courier Office dropdown-->
            <label class="control-label " for="streetAddress1">Адрес (ул. номер, бл., ет., ...)</label> 
            <input type="text" class="form-control" name="streetAddress1"
                   ng-model="cart.shippingData.streetAddress1" required>
            <!--   
            <p ng-show="addressForm.streetAddress1.$error.required && !addressForm.streetAddress1.$pristine"
               class="help-block">Въведете улица, номер или квартал, блок, вход, етаж, ап.</p>
            -->
          </div>
        </div>
        
        <!-- streetAddress2 -->
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- INPUT TEXT streetAddress2 -->
            <label class="control-label " for="streetAddress2">Допълнителни указания</label> <input type="text"
              class="form-control" id="streetAddress2" ng-model="cart.shippingData.streetAddress2">
          </div>
        </div>


        <!-- ====================================================== -->
        <!-- INVOICE -->
        <!-- ====================================================== -->

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label " for="phone">Желаете ли фактура?</label>
            <div class="btn-group btn-toggle" style="margin-left: 7px">
              <input type="button" class="btn btn-sm" ng-click="setWantInvoice(true)"
                ng-class="{ 'btn-default': !cart.shippingData.wantInvoice, 'btn-success active': cart.shippingData.wantInvoice }"
                value="Да"> <input type="button" class="btn btn-sm" ng-click="setWantInvoice(false)"
                ng-class="{ 'btn-default': cart.shippingData.wantInvoice, 'btn-success active': !cart.shippingData.wantInvoice }"
                value="Не">
            </div>
          </div>
        </div>

        <!-- textarea -->
        <div class="form-group" ng-if="cart.shippingData.wantInvoice"
          ng-class="{ 'has-error' : addressForm.invoiceData.$error.required && !addressForm.invoiceData.$pristine }">
          <div class="col-lg-10 col-md-10 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <label class="control-label " for="invoiceData">Данни за фактурата</label>
            <textarea rows="5" cols="50" class="form-control" id="invoiceData" name="invoiceData"
              ng-model="cart.shippingData.invoiceData" required></textarea>
            <p ng-show="addressForm.invoiceData.$error.required && !addressForm.invoiceData.$pristine"
              class="help-block">Въведете дан. номер или ЕГН, име на фирма, М.О.Л. и т.н.</p>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 0px">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input name="submit" class="btn btn-primary" value="Продължи" type="submit"
              ng-disabled="!isAddressDataOK() || !isOfficesOK(addressForm)">
          </div>
        </div>

      </form>
    </div>
    <!-- panel-body -->

    <!-- NO EDIT -->
    <div ng-if="editAddressData == false" class="panel-body" style="padding: 15px 0px;">

      <!-- Panel content -->
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
        <h5 style="padding-bottom: 0px">
          {{cart.shippingData.settlement.country}}, {{cart.shippingData.getCityAndZipPretty()}}<br>
          <span ng-if="cart.shippingData.getOption().type==='atelier'">{{cart.shippingData.getOption().getNameAndService()}}</span>
          <span ng-if="cart.shippingData.getOption().type==='office'">
            До офис: {{cart.shippingData.office[cart.shippingData.getOption().courier]}}
          </span>
          <span ng-if="cart.shippingData.getOption().type==='address'">
            {{cart.shippingData.office['address']}}
          </span>
        </h5>
        <div style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;" ng-show="cart.shippingData.wantInvoice">
          За фактурата:
          <pre style="margin: 0 0 0 0; padding: 5px 0 0 15px; border: none;">{{cart.shippingData.invoiceData}}</pre>
        </div>

      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <input name="button" class="btn btn-default btn-sm" style="float: right" value="Промени" type="button"
          ng-click="setEditAddressData(true)">

      </div>
    </div>
    <!-- panel-body -->
  </div>
</div>
<!--/ДАННИ ЗА ДОСТАВКА-->


<!-- ======================================================================= -->

<!-- НАЧИН НА ПЛАЩАНЕ -->
<div class="panel panel-success" id="paymentData">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#collapsePaymentData" class="collapseWill"> <span class="pull-left">
          <i class="fa fa-chevron-right"></i>
      </span> Начин на плащане
      </a>
    </h4>
  </div>
  <div id="collapsePaymentData" class="panel-collapse collapse in">
    <div ng-if="editPaymentData == true" class="panel-body">
      <!-- Panel content -->
      <!-- TODO Payment options go here -->
    </div>
    <!-- panel-body -->


    <div ng-if="editPaymentData == false" class="panel-body">
      <!-- Panel content -->
      <!--<div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 style="padding-bottom: 0px">Към момента приемаме единствено плащане при доставка на куриер (наложен
          платеж).</h5>
      </div>

      <!-- 
      <div
        style="margin-left: -15px; margin-right: -15px; margin-bottom: 0px">
        <input name="button" class="btn btn-default btn-sm"
          value="Промени" type="button"
          ng-click="setEditPaymentData(true)">
      </div>
       -->
    </div>
    <!-- panel-body -->

  </div>
  <!-- collapseInvoice -->
</div>
<!--/ФАКТУРА-->







<a ui-sref="shop.cart.edit" class="btn btn-primary">Обратно към количката</a>

<input type="button" class="btn btn-lg btn-danger" value="Поръчай" ng-click="submitOrder()"
  style="float: right; padding-left: 36px; padding-right: 36px;"
  ng-disabled="!isContactDataOK() || !isAddressDataOK() || !isPaymentDataOK()">













<!--/ addressForm.html -->
