<!-- cart.checkout.html -->

<div class="checkoutCart" style="width: 100%" ng-if="cart.count > 0">

  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12" ng-include="'app/shop/partials/cart.addressForm.html'"></div>
  <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs">



    <div class="sidebox panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Вашата поръчка</h4>
      </div>
      <div class="panel-body sidebox-body">

        <table>
          <tbody>
            <tr>
              <td class="summary-item">{{cart.count}} <ng-pluralize count="cart.count"
                  when="{'0': '', 'one': ' продукт', 'other': ' продукта'}"> продукт(а)</ng-pluralize>
              </td>
              <td class="summary-item right"><span><span>{{cart.subTotal | number:2}}</span>лв</span></td>
            </tr>
            <tr>
              <td class="summary-item">Доставка</td>
              <td class="summary-item right"><span ng-show="cart.shippingData.getOption()"><span>{{cart.shippingData.getOption().amount | number:2}}</span>лв</span></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th class="summary-total" colspan="2">
                <div>
                  Всичко <span class="summary-total-sum"><span>{{cart.subTotal + cart.shippingData.getOption().amount | number:2}}</span>лв</span>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="sidebox panel panel-default" ng-show="isContactDataOK() && isAddressDataOK() && !editContactData && !editAddressData">
      <div class="panel-heading">
        <h4 class="panel-title">Информация за поръчката</h4>
      </div>
      <div class="panel-body sidebox-body">

        <table>
          <tbody>
            <tr>
              <td class="summary-item" colspan="2">
                <div>
                  <span ng-if="cart.shippingData.getOption().type!=='atelier'">
                    <span style="font-weight: bold">Адрес:</span><br>
                    {{cart.contactData.firstName}} {{cart.contactData.lastName}}<br>
                    {{cart.shippingData.settlement.country}}, {{cart.shippingData.getCityAndZipPretty()}}<br>
                    
                    <span ng-if="cart.shippingData.getOption().type==='office'">
                      До офис: {{cart.shippingData.office[cart.shippingData.getOption().courier]}}
                    </span>
                    <span ng-if="cart.shippingData.getOption().type==='address'">
                      {{cart.shippingData.office['address']}}
                    </span>
                    <br>
                    <span style="font-weight: bold">Куриер:</span> {{cart.shippingData.getOption().courier | courier }}<br>
                    <span style="font-weight: bold">Услуга:</span> "{{cart.shippingData.getOption().service}}"<br>

                    <span style="font-weight: bold">Начин на плащане:</span> Наложен платеж<br>
                  </span>
                  <span ng-if="cart.shippingData.getOption().type==='atelier'" style="font-weight: normal">
                    {{cart.shippingData.getOption().getNameAndService()}}
                    <br>
                  </span>  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
<!--/ cart.checkout.html -->