<style>
</style>
<!-- ==================================================================== -->
<style>
</style>






<!-- cart.details.html -->
<div class="editCart col-lg-12 col-md-12 col-sm-12 view-slide-in" style="width: 100%" autoscroll="false"
  ng-if="cart.count == 0">
  <h2 class="text-center">Вашата количка е празна!</h2>
</div>

<div class="editCart col-lg-12 col-md-12 col-sm-12 view-slide-in" style="width: 100%" autoscroll="false"
  ng-if="cart.count > 0">
  <table>
    <thead>
      <tr class="cartItem">
        <th style="width: 47%;" colspan="2">
          <h2 style="padding: 10px 0">Вашата количка</h2>
        </th>

        <th style="width: 17%" style="font-size: 11px">Ед. цена
        </th>
        <th style="width: 22%" style="font-size: 11px">Количество
        </th>
        <th style="width: 17%" style="font-size: 11px">Общо
        </th>
        <th style="width: 2%" style="font-size: 11px">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cart.items" class="cartItem repeat-animation hide-fade" cart-repeat-directive>
        <!-- IMAGE -->
        <td style="width: 20%"><a
          ui-sref="shop.one.product({categoryId: item.product.categoryId, productId:item.product.id})"> <img
            ng-src="{{item.product.image}}" class="img-responsive" alt="{{item.product.name}}">
        </a></td>

        <!-- NAME -->
        <td style="width: 27%">
          <h4>
            <a ui-sref="shop.one.product({categoryId: item.product.categoryId, productId:item.product.id})">
              {{item.product.name}} </a>
          </h4>
          <h3 class="product-code">{{item.product.categoryId | shortCategory }}-{{item.product.origin | shortOrigin
            }}-{{item.product.color}}</h3>
          <h3 class="incaps">
            <i class="fa fa fa-check-circle-o color-in"></i> В наличност
          </h3> <!--<div style="clear: both"><a ng-click="removeFromCart(item.id)">
            <span>премахни от количката</span>
          </a></div>-->
        </td>

        <!-- PRICE -->
        <td style="width: 17%;"><span> {{item.product.price | number:2}} лв</span></td>

        <!-- QUANTITY -->
        <td style="width: 22%;">

          <div class="cart-item-quantity input-group input-group-sm">
            <span class="input-group-btn"></span> <input class="qtyInput form-control" ng-model="item.quantity"
              type="text" data-bts-min="1" data-bts-max="999" style="text-align: center;"> <span
              class="input-group-btn"></span>
          </div> <!--<script>
            //$('.qtyInput').TouchSpin();
          </script>-->
        </td>

        <!-- SUM -->
        <td style="width: 17%;"><span> {{item.sum | number:2}} лв</span></td>

        <!-- REMOVE button -->
        <td style="width: 2%;"><a ng-click="removeFromCart(item.id)"> <span
            class="glyphicon glyphicon-remove-circle" style="color: red"></span>
        </a></td>
      </tr>
    </tbody>
    <tfoot>
      <!-- <tr class="cartItem">
        <td colspan="2"></td>
        <td colspan="2" style="text-align: right;"><span
          style="font-size: 18px; font-weight: 600; padding-right: 15px;"> Общо: </span></td>
        <td colspan="2" style="text-align: left;"><span style="font-size: 18px; font-weight: 600"> {{
            cart.subTotal | number:2 }} лв </span></td>
      </tr>
      <tr class="cartItem">
        <td colspan="2"></td>
        <td colspan="2" style="text-align: right;"><span
          style="font-size: 18px; font-weight: 600; padding-right: 15px;"> Доставка: </span></td>
        <td colspan="2" style="text-align: left;"><span style="font-size: 18px; font-weight: 600"> {{
            cart.shippingCosts | number:2 }} лв </span></td>
      </tr>
      <tr class="cartItem">
        <td colspan="2"></td>
        <td colspan="2" style="text-align: right;"><span
          style="font-size: 18px; font-weight: 600; padding-right: 15px;"> Всичко: </span>
        </td>
        
        <td colspan="2" style="text-align: left;"><span style="font-size: 18px; font-weight: 600"> {{
            cart.total | number:2 }} лв </span>
        </td>
      </tr>-->
      <tr class="cart-totals">
        <td colspan="6">
          <table>
            <colgroup>
              <col>
              <col width="1">
            </colgroup>

            <tbody>
              <tr>
                <td style="" class="text-right">Междинна сума: {{cart.weight}}</td>
                <td style="" class="text-right"><span class="text-nowrap bigPrice"> {{ cart.subTotal |
                    number:2 }} лв</span></td>
              </tr>
              <tr>
                <td style="" class="text-right">Доставка:<br>
                <small ng-show="cart.shippingData.selectedOption">{{cart.shippingData.getOption().getNameAndService()}}</small></td>
                <td style="" class="text-right">
                  <a data-toggle="modal" data-target="#ModalZip"
                      class="btn btn-xs btn-info"><span ng-show="!cart.shippingData.selectedOption">изчисли!</span><span ng-show="cart.shippingData.selectedOption">промени!</span></a>
                  <span ng-show="cart.shippingData.selectedOption" class="text-nowrap bigPrice">
                      {{cart.shippingData.getOption().amount | number:2}} лв</span>
                  
                  </td>
                  
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td style="" class="text-right">Всичко:</td>
                <td style="" class="text-right"><strong><span class="text-nowrap bigPrice">{{
                      cart.subTotal + cart.shippingData.getOption().amount | number:2 }} лв</span></strong></td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="clearfix visible-xs-block"></div>

<!--  buttons -->
<div class="col-lg-12 col-md-12 col-sm-12" style="width: 100%; padding-top: 15px;">
  <a ui-sref="shop.all" class="btn btn-primary">Към магазина</a> <a class="btn btn-danger" ui-sref="shop.cart.checkout"
    style="float: right" ng-show="cart.count > 0"> Поръчай </a>
</div>


<!-- =================================================================================== -->
<!-- =========================== MODAL ZIP ============================================= -->
<!-- =================================================================================== -->

<style>

.form-group.options {
  padding-left: 15px;
  padding-right: 15px;
}

.form-group.options label {
  display: block;
  font-weight: normal;
  font-size: 14px;
}

.form-group.options input[type="radio"] {
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}


</style>


<!-- Modal Zip -->
<div class="modal fade" id="ModalZip" tabindex="-1" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <form name="zipForm" method="post" ng-submit="submitSettlement(cart)" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title-site text-center">Калкулатор на доставка</h3>
        </div>
        <div class="modal-body" style="min-height:290px">
          <div class="control-group">
            <div style="height: 25px;">
              <span ng-cloak>{{result}}</span>
            </div>
          </div>

          <div class="form-group country">
            <div>
              <label class="control-label " for="country">Държава</label> <select class="form-control" id="country"
                name="country" ng-model="shippingCtrl.shippingData.settlement.country" required>
                <option>България</option>
                <option>Македония</option>
                <option>Гърция</option>
                <option>Румъния</option>
              </select>
            </div>
          </div>

          <div class="form-group zipCity" ng-if="shippingCtrl.shippingData.settlement.country == 'България'">
            <div>
              <label class="control-label " for="zipCodeAndCity2">Пощенски код или населено място</label> 
      <!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb -->
      <script type="text/ng-template" id="/my-custom-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
          <input ng-model="searchStr" id="zipCodeAndCity2" name="zipCodeAndCity2"
            ng-disabled="disableInput"
            type="text"
            placeholder="{{placeholder}}"
            ng-focus="onFocusHandler()"
            class="{{inputClass}}"
            ng-focus="resetHideResults()"
            ng-blur="hideResults($event)"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            ng-change="inputChangeHandler(searchStr)" required />
          <div class="angucomplete-dropdown" ng-show="showDropdown">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>

            <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" 
                 ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
              <div class="angucomplete-title">
                <span>{{result.originalObject.type}}</span> <span ng-bind-html="result.title"></span>
                
                 <span ng-if="result.originalObject.speedyOffices.length > 0" class="pull-right"><img src="images/speedy_logo_17.png"></img></span>
              </div
              
              <div class="angucomplete-description">
                <small><span ng-if="result.originalObject.municipality.indexOf('район') < 0">общ. </span>{{result.originalObject.municipality}}, обл. {{result.originalObject.district}}</small>
                <span ng-if="result.originalObject.ekontOffices.length > 0" class="pull-right"><img src="images/econt-logo-12.png" width="54" height="12"></img></span> 
              </div>

            </div>

          </div>
        </div>
      </script>
      <div angucomplete-alt 
          placeholder="пощенски код или населено място"
          pause="400" selected-object="setZipCodeAndCity"
          custom-select="shippingCtrl.customSelectZipAndCity"
          custom-lookup="customLookup"
          custom-matching="shippingCtrl.customMatching"
          keep-initial-value-binding="false"
          
          initial-value="shippingCtrl.shippingData.getCityAndZipPretty()"
          local-data="shippingCtrl.zipCodes"
          search-fields="zipCode*,city"
          title-field="city,zipCode"
          description-field="zipCode"
          minlength="3"
          maxlength="50"
          input-class="form-control input"
          match-class="highlight" 
          template-url="/my-custom-template.html"
          ><!-- template-url="/my-custom-template.html" -->
      </div>
                
      <!-- eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
                
            </div>
          </div>
          <!-- OPTIONS -->
          <div class="form-group options" ng-show="shippingCtrl.shippingData.options && shippingCtrl.shippingData.options.length > 0">
            <div ng-repeat="option in shippingCtrl.shippingData.options">
              <label> <input type="radio" name="newAddressOption" ng-model="shippingCtrl.shippingData.selectedOption" 
                               ng-value="option.toString()" required>
                {{ option.getNameAndService() }}
                <span class="pull-right"> {{ option.amount | number:2 }} лв</span>
              </label>
            </div>
          </div>
          
          <!-- TODO make it visible after user has entered something -->
          <div class="form-group options" ng-show="false && !zipForm.zipCodeAndCity2.$pristine && shippingCtrl.shippingData.options && shippingCtrl.shippingData.options.length == 0">
            <div>
              <label> За съжаление не можахме да изчислим сумата по Вашата доставка. Това не означава че няма да можем да ви изпълним и доставим поръчката. 
                За точната сума и избор на най-подходящия куриер ще Ви уведомим по телефон или имейл, които можете да въведете в следващата стъпка. 
              </label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <input name="submit" class="btn btn-block btn-primary" value="Избери" type="submit" ng-disabled="!shippingCtrl.shippingData.getOption()">
          </div>
          <!-- 
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                <input name="submit" class="btn btn-block btn-default" value="Затвори" type="submit"
                  data-dismiss="modal">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <input name="submit" class="btn btn-block btn-primary" value="Избери" type="submit">
              </div>
            </div>
          </div>
          -->
        </div>
      </form>
    </div>
    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->

</div>
<!-- /.Modal Login -->












<!--/ cart.details.html -->