<!-- left-slider BEGIN -->
<div class="ext_wrapper">

  <div class="flap visible-xs" style="top: 50px; cursor: pointer;" ng-click="toggleSlider()">
    <span class="flapLabel"> 
      <span class="glyphicon" 
          ng-class="{'glyphicon-chevron-left':showSlider,'glyphicon-chevron-right': !showSlider}" aria-hidden="true"></span>
    </span>

    <!-- <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: transparent;"></div>
    -->
  </div>

  <div class="footer"></div>


  <div class="extruder-content"> <!-- style="overflow: hidden; width: 200px; height: 100%; display: block;" -->
    <div class="extruder-container">
      <!-- -------------------------------------------------- -->
      <div class="panel-group filter-body">

        <!-- CATEGORY -->
        <div class="panel panel-default hidden-xs">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseCategory" class="collapseWill"> <span
                class="pull-left"> <i class="fa fa-caret-right"></i></span> Категории
              </a>
            </h4>
          </div>
          <div id="collapseCategory" class="panel-collapse collapse in">
            <div class="panel-body">

              <ul class="nav nav-pills nav-stacked tree">
                <li ng-repeat="menuitem in catMenuItems" ui-sref-active="active"><a
                  ui-sref="shop.one({categoryId:menuitem.id})" style="padding: 3px 0px"> <span
                    class="badge pull-right">{{menuitem.cnt}}</span>{{menuitem.name}}
                </a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/Category menu end-->

        <!-- ORIGIN -->
        <!-- <div ng-if="filter.origins.length>0" style="display: none">{{filter.origins}}</div>-->
        <div class="categoryFilter panel panel-default" ng-if="filter.origins.length > 0">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseBrand" class="collapseWill"> Произход <span
                class="pull-left"> <i class="fa fa-caret-right"></i></span>
              </a>
            </h4>
          </div>
          <div id="collapseBrand" class="panel-collapse collapse in">
            <div class="panel-body">
              <div ng-repeat="origin in filter.origins" class="checkbox-group">
                <label> <input type="checkbox" ng-model="origin.value" name="selectedOrigins[]">
                  {{origin.id}} <span>({{origin.cnt}})</span></label>
              </div>
            </div>
          </div>
        </div>
        <!--/origin panel end-->

        <!-- COLOR -->
        <div ng-if="filter.colors.length > 0" ng-show="isDebug">{{filter.colors}}</div>
        <div ng-if="filter.colors.length > 0" class="categoryFilter panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseColors" class="collapseWill"> Цветова група <span
                class="pull-left"> <i class="fa fa-caret-right"></i></span>
              </a>
            </h4>
          </div>
          <div id="collapseColors" class="panel-collapse collapse in">
            <div class="panel-body color-filter ">
              <!-- maxheight300 mCustomScrollbar -->
              <div ng-repeat="color in filter.colors" class="checkbox-group">
                <label> <input type="checkbox" name="selectedColors[]" ng-model="color.value"> <span
                  class="color-square" style="background-color: {{color.code}}"></span> {{color.name_bg}} <span
                  style="padding-left: 3px"> ({{color.cnt}})</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!--/color panel end-->

      </div>

      <!-- -------------------------------------------------- -->





      <style type="text/css">
</style>

    </div>
    <!-- extruder-container -->
  </div>
  <!-- extruder-content -->




</div>
<!-- left-slider END -->
